@{
    ViewData["Title"] = "Главаная страница сайта";
}

<div class="conteiner-row">
    <div class="row-item">
        <div class="item-text">
            <h4>Твой личный профиль</h4>
            <h1>Создай профиль и приоединяйся к нашему сообществу</h1>
            <p>
                Здесь ты найдешь ты найдешь обширные возможности для
                обсуждений, свежие новости и полезные ссылки на ресурсы, 
                способствующие твоему развитию.
            </p>
        </div>
        <img class="item-img" src="~/images/profile.jpg" alt="profile" />
    </div>
    <div class="row-item">
        <img class="item-img" src="~/images/discussion.jpg" alt="discussion" />
        <div class="item-text">
            <h4>Есть вопрос - есть ответ</h4>
            <h1>Решай вопросы в режиме реального времени не выходя из дома</h1>
            <p>
                Открой обсуждение на интересующуюю тему в котором смогут
                поучаствовать студенты преподаватели или простые пользователи
                Совместными силами обязательно получится решить поставленнуб задачу
            </p>
        </div>
    </div>
    <div class="row-item">
        <div class="item-text">
            <h4>Свежие Новости, Тренды и Актуальные Сюжеты в Нашем Сообществе!</h4>
            <h1>
                Читай свежие новости
            </h1>
            <p>
                Технологии, наука, искусство или общество, у нас ты найдешь актуальную
                информацию, которая поможет тебе быть в курсе событий и расширять свой кругозор

            </p>
        </div>
        <img class="item-img" src="~/images/flea_market.jpg" alt="flea_market" />
    </div>
</div>

