<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Сообщество инженерно-технического института</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet"/>
  </head>
  <body>
    <div class="header">
      <div class="logo">
            <a href="/Home/Index" title="На главную"><img class="logo-img" src="~/images/Logo.png" alt="Siti" /></a>
            <a href="/Home/Index" title="На главную">Сообщество физико-технического института</a>
      </div>

      <ul>
        <li><a href="/Home/Index" title="На главную">Главная</a></li>
        <li><a href="#" title="Перейти к обсуждениям">Обсуждения</a></li>
        <li><a href="#" title="Открыть новости">Новости</a></li>
            <li><a href="#" title="Открыть ссылки">Полезные ссылки</a></li>
      </ul>
      <div class="button-header">
        <button class="button" id="click-to-login" type="button" name="button">Войти</button>

        <button class="button" id="click-to-register" type="button" name="button">Регистрация</button>

      </div>
    </div>

  <section class="wrapper-login" style="display: none;">
    <div class="login-form" >
      <div class="form_title">Авторизация</div>
        <label id="login_email">
        <input type="text" placeholder=" " />
                <span>Почта</span>
      </label>
      <label id="login_password">
        <input type="password"  placeholder=" " />
                <span>Пароль</span>
      </label>
      <div class="login-button disable">Войти</div> 
    </div>

        <div class="overlay-login"></div>
        
   </section>

    <section class="wrapper-register" style="display: none;">
        <div class="register-form">
            <div class="form_title">Регистрация</div>

            <label id="register_login">
                <input type="text" placeholder=" " />
                <span>Логин</span>
            </label>
            <label id="register_email">
                <input type="text" placeholder=" " />
                <span>Почта</span>
            </label>
            <label id="register_password">
                <input type="password" placeholder=" " />
                <span>Пароль</span>
            </label>
            <label id="register_confirm_password">
                <input type="password" placeholder=" " />
                <span>Подтвердить</span>
            </label>

            <div class="form-button">
                <div class="register-button disable">Зарегистрироваться</div>
                <div class="divider">ИЛИ</div>
                <a href="#" class="google-register button-google">Google</a>
            </div>
        </div>
        <div class="overlay-register"></div>

    </section>




    <main>
        @RenderBody()
    </main>

    <footer>
        <div>
            <a href="#"><img src="~/images/icon-telegram.png" alt="Телеграм" /></a>
            <a href="#"><img src="~/images/icon-mail-ru.png" alt="Почта" /></a>
            <a href="#"><img src="~/images/icon-vk.png" alt="Вконтакте" /></a>
        </div>
        <div class="social-network">
            <p>Телефон: +(373)777-77-777</p>
            <p>© siti.ru, 2023 | Физико-технический институт</p>
        </div>
    </footer>

    <script src="~/js/login_script.js"></script>
</body>
</html>
